[submodule "snark/libsnark"]
	path = snark/libsnark
	url = https://github.com/zcash/libsnark.git

[submodule "iso/alpine-iso"]
	path = iso/alpine-iso
	url = git://git.alpinelinux.org/alpine-iso
[submodule "iso/musl-builder/musl"]
	path = iso/musl-builder/musl
	url = git://git.musl-libc.org/musl
